---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Developer",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "Only 1 user",
      "Up to 3 checks",
      "Up to 500 Pages",
      "Basic Integrations",
      "Basic Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Team",
    price: {
      monthly: "$10",
      annual: "$108",
      discount: "10%",
      original: "$100",
    },
    popular: true,
    features: [
      "All Free Features",
      "Up to 20 users",
      "Up to 50 hosts",
      "Unlimited Pages",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "Business",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited users",
      "Unlimited hosts",
      "Unlimited Pages",
      "Advanced Integrations",
      "24/7 Advanced Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
