---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Host group management",
    description:
      "The ability to group multiple hosts together for easier management and monitoring",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Host management",
    description:
      "The ability to add, edit, and remove individual hosts for monitoring",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Downtime scheduling",
    description:
      "The ability to schedule periods of time when monitoring will be paused for maintenance or other reasons",
    icon: "bx:bxs-data",
  },
  {
    title: "Historical data",
    description:
      "The ability to view historical data on host uptime, latency, resource usage and other related analytics.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Customizable Alerting",
    description:
      "The ability to set up custom alerts based on specific conditions, such as high latency, host downtime, slow performance, high error rates or certificate expiration.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Integrations",
    description:
      "Ability to integrate with other services such as slack, PagerDuty, OpsGenie, SMS, Email and more.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <!--
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to monitor a website
  </h2>
  -->
  <p class="text-lg mt-4 text-slate-600">
    Uptimedog provides a comprehensive set of features for monitoring applications:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
